.red-line {
  color: red
}
.green-line {
  color: green
}

.full-height {
  min-height: 100vh !important
}

.dark {
  background-color: rgb(0, 21, 41);
}
.light {
  background-color: rgb(254, 254, 254);
}
/*
La vieja y buena piedra
*/

.red-border {
  border: 2px red solid
}

.green-border {
  border: 2px greenyellow solid
}